<!-- 
<h1>Welcome#index</h1>



 -->



<!-- 
     <main role="main" class="inner cover">
    <h1 class="cover-heading">Site de référence d'Axel Defosse</h1>
    <p class="lead">Pour la plomberie du coté de Fréjus, faites appel à AD-PLOMBERIE !</p>
    <p class="lead">Pour la plomberie du coté de Fréjus, faites appel à AD-PLOMBERIE !</p>
    <p class="lead">Pour la plomberie du coté de Fréjus, faites appel à AD-PLOMBERIE !</p>
    <p class="lead">Pour la plomberie du coté de Fréjus, faites appel à AD-PLOMBERIE !</p>
    <p class="lead">Pour la plomberie du coté de Fréjus, faites appel à AD-PLOMBERIE !</p>
    <p class="lead">Pour la plomberie du coté de Fréjus, faites appel à AD-PLOMBERIE !</p>
    <p class="lead">Pour la plomberie du coté de Fréjus, faites appel à AD-PLOMBERIE !</p>


    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">En savoir plus</a>
    </p>
  </main> -->


<!-- 
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
 	<img src="https://coexpert.comap.fr/wp-content/uploads/sites/2/2018/03/2018-04-COMA-5-etapes-pour-cre%CC%81er-son-entreprise-de-plomberie-01.png" class="img-fluid" alt="Responsive image">
</div>
 -->
<!-- <%= image_tag "plombier.png" %> -->
<!-- Full Page Image Header with Vertically Centered Content -->


<header class="masthead" >

<section class="text-center" style="background:none; height:550px;">
    <div class="container">
      <div class="row vertical-center"> 
          <div class="col">
              
            </div>
            <div class="col">
              <!-- <h1 class="masthead-heading text-uppercase font-weight-light text-white mb-0">AD PLOMBERIE</h1> -->

              <h1 class="text-white title-heading"> AD PLOMBERIE </h1>
            </div>
            <div class="col">
            </div>
      
      </div>
      <div class="row" style="margin-bottom:80px;"> 
      <!-- <p class="lead text-white">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p> -->

      <p class="lead text-white">Expert en plomberie pour tout type de travaux, j'interviens sur plusieurs villes dans le département du VAR.</p>
        
      </p>
    </div>
    <div class="row"> 
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
<p class="masthead-subheading font-weight-light mb-0">Plomberie - Carrelage - Salle de bain - Dépannage</p>
          


        </div>
        <div class="divider-custom-line">
        </div>
      </div>
    </div>

    </div>
    <!-- FIN CONTAINER -->
  </section>

<!-- 
<h1 class="masthead-heading text-uppercase font-weight-light text-white mb-0">Axel Defosse PLOMBERIE</h1>
<div class="container h-200">
    <div class="row h-200 align-items-center"> -->
      <!-- <div class="col-sm">
        <div class="container-md float-left">

          <ul class="">
            <li class="">
              <span id="puce" style="inline-block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span id="pucez" class="inline-block ml-8">France</span></li>
            <li class=""><span id="puce" style="inline-block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span id="pucez" class="inline-block ml-8">France</span></li></li>
            <li class=""><span id="puce" style="inline-block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span id="pucez" class="inline-block ml-8">France</span></li></li>
            <li class="">Porta ac consectetur ac</li>
            <li class="">Vestibulum at eros</li>
          </ul>
        </div>
    </div> -->
    
      


      <!-- <div class="col-sm-9   text-center" > -->
      <!--   <img src="https://coexpert.comap.fr/wp-content/uploads/sites/2/2018/03/2018-04-COMA-5-etapes-pour-cre%CC%81er-son-entreprise-de-plomberie-01.png" class="float-right" alt="..." style='width: 67%;'> -->

         

      <!-- </div> -->

  <!-- </div>
    </div> -->


<!-- <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1> -->


 <!--  <div class="image-plombier">
  
</div> -->

</header>

<!-- Page A Propos -->
<!-- <section class="py-5 container-about" id="aPropos">
  <div class="container container-about">
    <h1 class="font-weight-light text-white">Disponible 24/7 </h1>
    <h2 class="font-weight-light text-white"> Expertise sur tous les domaines plomberies</h2> -->



<!--   </div>
  <h2 class="font-weight-light text-white"> Devis gratuit sous 48h</h2>

</section>  -->


<section class="py-5 container-about" id="aPropos">
  <div class="container container-about">

<div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <!-- <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <%= image_tag "plombier_heading.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 




            <h2 class="text-white">Devis sous 48H</h2>
            <p class="text-white">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            
            <%= image_tag "fuite_heading.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 

            <h2 class="text-white">Fuite</h2>
           <p class="text-white">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <%= image_tag "SDB_heading.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 
         
            <h2 class="text-white">Salle de bain</h2>
           <p class="text-white">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies </p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


<!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
         
            <%= image_tag "debouchage_heading.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 

            <h2 class="text-white">Tuyaux bouchés</h2>
            <p class="text-white">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies </p>
          </div ><!-- /.col-lg-4 -->
          <div class="col-lg-4">

            <%= image_tag "test_heading3.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 
            
            <h2 class="text-white">Expertise</h2>
            <p class="text-white">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            
            <%= image_tag "Time_heading.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 

            <h2 class="text-white">Disponible 24/7</h2>
           <p class="text-white">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies </p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        

      </div>
</div>
</section>




<!-- Page A Realisation -->
<section class="py-5 container-realisation" id="realisation">
  <!-- <div class="container container-realisation"> -->
    <h1 class="font-bold">Realisation</h1>

<section id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
              <div class="carousel-item active" data-interval="10000">
                 <%= image_tag "av_apres.jpg", class:"d-block w-75 mt-5 mx-auto p-3",
                                       'alt' => "Premiere Photo" %>
              </div>
           <div class="carousel-item">
                 <%= image_tag "av_apres.jpg", class:"d-block w-75 mt-5 mx-auto p-3",
                                       'alt' => "Premiere Photo" %>

              </div>
               
            </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> 
            </div>





        </section>




 
        <%= link_to 'Voir plus de réalisations', realisations_path, class: "btn btn-xl btn-primary" %>


</section>



<!-- Page Contact -->
<section class="py-5 container-contact" id="contact">
  <div class="container container-contact">
    <h1  class=" font-bold">N'hésitez pas à prendre contact</h1>
      <div class="row" style="margin-top: 2%;">
        <div class="col hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
          <%= link_to "mailto:adcarosserie@gmail.com", class:" btn btn-dark btn-social btn-circle mx-3 rounded-circle-icon" do %>
<%= fa_icon('envelope-square', style: 'color: #ffffff;', class: 'fa-2x align-icon-social') %>
<% end %>
<p><i> adcarosserie@gmail.com </i> </p>
          
        </div>
        <div class="col">
          <%= link_to "tel:0123456789", class:"btn btn-dark btn-social btn-circle mx-3 rounded-circle-icon" do %>
<%= fa_icon('phone', style: 'color: #ffffff', class: 'fa-2x align-icon-social') %>
<% end %>
          <p><i> 01.23.45.67.89</i> </p>
        </div>
        <div class="col">

<%= link_to "https://www.facebook.com/AD-Plomberie-111203337225475/", class:"btn btn-dark btn-social btn-circle mx-3 rounded-circle-icon" do %>
<%= fa_icon('facebook-f', style: 'margin-top: 27%', class: 'fa-2x align-icon-social') %>
<% end %>
        
<p><i> /ADCarosserie </i> </p>

          
        </div>
        <div class="col">
         

          <%= link_to "http://www.google.com", class:"btn btn-dark btn-social btn-circle mx-3 rounded-circle-icon" do %>
          <%= fa_icon('instagram', style: 'color: #FFFFFF ', class: 'fa-2x align-icon-social') %>
          <% end %>
          <p><i> /ADCarosserie </i> </p>
        </div>
      </div>
      
      


       <!--Google map-->
      <div id="map-container-section" class="z-depth-1-half map-container-section md-8" style="height: 100px; margin-top:2%;">
        <iframe src="https://maps.google.com/maps?q=Frejus&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0; height:400px;" allowfullscreen></iframe>
         <!--  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ReAZMjWaADqGGnHo-Wc2D-ofQfRb_tL0" style="height: 200px" style="border:0" allowfullscreen></iframe> -->
      </div>

 

   <!--  <div class="row">
      <div class="col-lg-4 ml-auto">
            <div class="bg-white p-3 p-md-5">
              <h3 class="text-black mb-4">Contact</h3>
              <ul class="list-unstyled footer-link ">
                
                <li class="d-block mb-3 text-align-left">
                  <i class="fa fa-phone-square"></i> 01.23.45.67.89</li>
                  <li class="d-block mb-3">
                  <i class="fa fa-envelope"></i></i> daiojzdi@apzjdad.fr</li>

                <li class="d-block mb-3">
                    <span class="flaticon-placeholder text-primary"></span>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-8 mb-5">
            dazdaz
          </div>
          
        </div> -->




  </div>
</section>

<!-- <ul class="list-group list-group-flush">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
 -->









 

</body>
