<!-- Full Page Image Header with Vertically Centered Content -->


<!-- <header class="masthead" > -->

<section class="heading-background text-center masthead" style="">
    <div class="container">
              <h1 class="text-white title-heading"> AD - PLOMBERIE </h1>

      <div class="row vertical-center"> 


      <h2 class="lead text-white">Expert en plomberie pour tout type de travaux, j'interviens sur plusieurs villes dans les départements du Var et des Alples-Maritimes.</h2>

     
    </div>
    <div class="row"> 
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
<p class="masthead-subheading font-weight-light mb-0">Plomberie - Carrelage - Salle de bain - Dépannage</p>
          


        </div>
        <div class="divider-custom-line">
        </div>
      </div>
    </div>

    </div>
    <!-- FIN CONTAINER -->
  </section>



<section class="py-5 container-about" id="aPropos">
  <div class="container container-about">

<div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <!-- <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <%= image_tag "plombier_heading.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 




            <h2 class="text-white">Devis sous 48H</h2>
            <p class="text-white">Nous primons la réactivité envers nos clients et nous nous engageons ainsi à vous fournir un devis sous 48H </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            
            <%= image_tag "fuite_heading.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 

            <h2 class="text-white">Fuite</h2>
           <p class="text-white">Nous réparons toute fuite sur tous matériaux tant que cela reste dans nos compétences
          </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <%= image_tag "SDB_heading.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 
         
            <h2 class="text-white">Salle de bain</h2>
           <p class="text-white">La salle de bain est une pièce très importante : nous mettons tout en oeuvre pour qu'elle soit moderne, pratique et à votre goût !</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


<!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
         
            <%= image_tag "debouchage_heading.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 

            <h2 class="text-white">Dépannage</h2>
            <p class="text-white">Nos dépannages sont toujours placés en priorité dans notre planning pour privilégier votre confort </p>
          </div ><!-- /.col-lg-4 -->
          <div class="col-lg-4">

            <%= image_tag "test_heading3.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 
            
            <h2 class="text-white">Expertise</h2>
            <p class="text-white">Une entreprise qui bénéficie de plusieurs années d'expérience et une maîtrise de ses compétences pour être toujours à l'écoute de ses clients</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            
            <%= image_tag "Time_heading.png", class:"rounded-circle", style:"width: 140px; height: 140;" %> 

            <h2 class="text-white">Disponible 24/7</h2>
           <p class="text-white">Malgré la demande, nous nous efforçons de nous rendre disponibles le plus tôt possible pour la réalisation de vos projets </p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


      </div>
</div>
</section>




<!-- Page A Realisation -->
<section class="container-realisation" id="realisation">
  <!-- <div class="container container-realisation"> -->
    <h1 class="font-bold"> Realisation</h1>
    <div class="divider-custom divider-primary" style="margin-top: -10px;">
        <div class="divider-custom-line" style="margin-top;-10px;">
        </div>
      </div>


<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="scroller">
  <div class="fixed-height">
            <%= image_tag "ph1.jpg", class:"img-scroller" %> 
  </div>
  <div class="fixed-height">
            <%= image_tag "ph2.jpg", class:"img-scroller" %> 
    
  </div>
  <div>
            <%= image_tag "ph3.jpg", class:"img-scroller" %> 

  </div>
  <div>
            <%= image_tag "ph4.jpg", class:"img-scroller" %> 
  </div>

  <div> <%= image_tag "ph5.jpg", class:"img-scroller" %> </div>

  <div> <%= image_tag "ph6.jpg", class:"img-scroller" %> </div>

  <div> <%= image_tag "ph7.jpg", class:"img-scroller" %> </div>

  <div> <%= image_tag "ph8.jpg", class:"img-scroller" %> </div>

  <div> <%= image_tag "ph9.jpg", class:"img-scroller" %> </div>

  <div> <%= image_tag "ph10.jpg", class:"img-scroller" %> </div>

  <div> <%= image_tag "ph11.jpg", class:"img-scroller" %> </div>

  <div> <%= image_tag "ph7.jpg", class:"img-scroller" %> </div>


</div>

</section>





<!-- Page Contact -->
<section class="py-5 container-contact" id="contact">
  <div class="container container-contact">
    <h1  class=" font-bold">N'hésitez pas à prendre contact !</h1>
      <div class="row" style="margin-top: 2%;">
        <div class="col hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">

          <%= link_to "mailto:contact@ad-plomberie.com", class:" btn btn-dark btn-social btn-circle mx-3 rounded-circle-icon" do %>
<%= fa_icon('envelope-square', style: 'color: #ffffff;', class: 'fa-2x align-icon-social') %>
<% end %>
<p><i> contact@ad-plomberie.com </i> </p>
          
        </div>
        <div class="col">
          <%= link_to "tel:0667718189", class:"btn btn-dark btn-social btn-circle mx-3 rounded-circle-icon" do %>
<%= fa_icon('phone', style: 'color: #ffffff', class: 'fa-2x align-icon-social') %>
<% end %>
          <p><i> 06.67.71.81.89 </i> </p>
        </div>
        <div class="col">

<%= link_to "https://www.facebook.com/AD-Plomberie-111203337225475/", class:"btn btn-dark btn-social btn-circle mx-3 rounded-circle-icon" do %>
<%= fa_icon('facebook-f', style: 'margin-top: 27%', class: 'fa-2x align-icon-social') %>
<% end %>
        
<p><i> /AD-Plomberie </i> </p>
          
        </div>
        <div class="col">
          <%= link_to "https://www.instagram.com/ad_plomberie/", class:"btn btn-dark btn-social btn-circle mx-3 rounded-circle-icon" do %>
          <%= fa_icon('instagram', style: 'color: #FFFFFF ', class: 'fa-2x align-icon-social') %>
          <% end %>
          <p><i> /ad_plomberie </i> </p>
        </div>
      </div>
      
      


       <!--Google map-->
      <div id="map-container-section" class="z-depth-1-half map-container-section md-8" style="height: 100px; margin-top:2%;">
        <iframe src="https://maps.google.com/maps?q=Frejus&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0; height:400px;" allowfullscreen></iframe>
         <!--  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ReAZMjWaADqGGnHo-Wc2D-ofQfRb_tL0" style="height: 200px" style="border:0" allowfullscreen></iframe> -->
      </div>

 


<p class="adjtimes"> Société de plomberie :
  plombier Frejus ; 

  plombier Nice ; 
  plombier Puget-sur-Argens ; 
  plombier Saint-Raphaël ; 
  plombier fréjus ; 
  plombier saint-aigulf  ; 
  plombier les issambres ; 
  plombier agay  ; 
  plombier saint-Maxime ; 
  plombier grimaud  ; 
  plombier boulouris ; 


</p>




  </div>
</section>

<!-- <ul class="list-group list-group-flush">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
 -->









 

</body>
