<!DOCTYPE html>
<html>
  <head>
    <title>AD-Plomberie</title>
    <%= csrf_meta_tags %>

  


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <%= stylesheet_link_tag "cover" %> -->
    <%= stylesheet_link_tag "test" %>
    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "sass-compiled" %>


  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>

  <!-- <link rel="icon" href="favicon.ico" /> -->
   <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>


  	
  	<%= render 'layouts/topper' %>
    <%= yield %>


    <%= javascript_include_tag 'application', :'data-turbolinks-track' => 'reload' %>

    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js' %>
    <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload' %>
    <%= yield :after_js %>

    <!-- <%= javascript_include_tag 'scrolling-nav', 'data-turbolinks-track': 'reload' %> -->
    
    <%= render 'layouts/footer' %>


    <!-- <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
</div>
</body> -->



</html>
